<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication App</title>
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Piazzolla:wght@200;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
    <link rel="stylesheet" href="C:\Users\Dr Afolabi\Downloads\authentication\views\css\bootstrap.min.css" />
    <link rel="stylesheet" href="C:\Users\Dr Afolabi\Downloads\authentication\views\css\all.css" />
</head>
<body>
    <div class="container">
        <%- body %>
    </div>
                                    
    <script src="C:\Users\Dr Afolabi\Downloads\authentication\views\js\all.js"></script>
    <script src="C:\Users\Dr Afolabi\Downloads\authentication\views\js\jquery.slim.min.js"></script>
</body>
</html>